.info-icon-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.info-icon {
  width: 24px;
  height: 24px;
  background-color: #000000;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 32px;
  font-size: 16px; /* Tamaño de la fuente del ícono */
  padding: 4px; /* Espacio interno alrededor del ícono */
  box-sizing: content-box; /* Para que el padding no afecte al tamaño total */
  margin-bottom: -100px;
}

.info-tooltip {
  position: absolute;
  top: 40px; /* Distancia desde la parte superior del ícono */
  left: 50%;
  transform: translateX(-50%);
  background-color: #f0f0f0;
  padding: 12px; /* Espaciado interno del tooltip */
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
  display: none;
  width: 230px; /* Ancho del tooltip */
}

.info-tooltip-content {
  font-size: 14px; /* Tamaño de la fuente del contenido del tooltip */
  color: #333; /* Color del texto del tooltip */
  line-height: 1.4;
}
  
.info-icon-container:hover .info-tooltip {
  display: block;
}
